body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    background: #f3f5fc;
}

.Title{
    float: inherit;
    margin-left: 35%;
    font-size: 20px;
    text-align: left;
}


header {
    background-color: #ffffff;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 50px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.contenedor{
    display:flex;
    flex-direction: row;
    }
    
    .contenedor-izq img{
        margin:10px 0px 0px 40px;
        }
    .contenedor-izq{
        flex:70%;
        background: #e5e5e5;
        }
    
    .contenedorlimpiar{
    position: relative;
    width:60%;
    margin:0 0 0 25%;
    }    
    
    #limpiar{
        position: absolute;
        padding: 0;
        background: darkblue;
        color:white;
        font-weight: 700;
    }
    
    #limpiar:hover{
        background: red;
        color:white;
        font-weight: 700;
        transform: scale(1.1);
    }

    #textareainput{
    width:100%;
    border:2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 10px black;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    color:darkblue;
    font-size: 32px;
    
    }
    
    .contenedor-izq p{
        margin:10px 0 0 25%;
        font-weight: 700;
        
    }
    
    .botones{
        width:60%;
        margin:20px 0 50px 25%;
        display: flex;
        flex-direction:row;
        justify-content: space-between; 
        
    }
    
    .botones input{
        flex:0 0 45%;
        padding: 15px;
        border:1px solid darkblue;
        border-radius: 10px;
        
    }
    
    #encriptar{
        background:darkblue;
        color: white;
        font-weight: 700;
        
    }
    
    #encriptar:hover{
        background:red;
        color: white;
        transform: scale(1.1);
    }
    
    #desencriptar{
        
        background: #D8DFE8;
        color: darkblue;
        font-weight: 700;
    
    }
    
    #desencriptar:hover{  
        background:red;
        color: white;
        transform: scale(1.1);
    }
    
    .contenedor-der{
        flex:30%;
        background: #e5e5e5;
        padding:0 2% 0 2%;
        display: flex;
        align-items: center;
        }
    
    .espacioblanco{
        flex:100%;
        background: white;
        height:90%;
        border:1px solid black;
        border-radius: 15px;
        box-shadow: 10px 10px 5px black;
        display:flex;
        flex-direction: column;
        justify-content: center;/*center before click, space-between despues click*/
    }    
    
    .espacioblanco img{
        width: 80%;
        margin:0 10%; 
        /*display:none;*/
        
    }
    
    #titulo{
        font-size: 24px;
        font-weight: 700;
        color:#343A40;
        margin:20px 10% 0 10%;
        text-align: center;
        /*display:none;*/
        
    }
    #subtitulo{
        font-size: 16px;
        font-weight: 400;
        color:#343A40;
        margin:20px 10%;
        text-align: center;
        /*display:none;*/
        
    }
    
    #textareaoutput{
        width: 90%;
        margin: 10% 5% 0 5%;
        resize: none;
        font-size: 24px;
        height: 80%;
        border:1px solid black;
        display:none;
        
    }
    #copiar{
        background: #D8DFE8;
        color: darkblue;
        width: 80%;
        font-weight: 700;
        margin:0 10% 10% 10%;
        height: 45px;
        border:1px solid darkblue;
        border-radius: 10px;
        display:none;
    }
    #copiar:hover{
        background: red;
        color: white;
        transform: scale(1.1);
    }



    @media screen and (min-width: 376px) and (max-width:768px){
    .contenedor{
    
        flex-direction: column;
    }
    .contenedor-izq{
        flex:100%;
        background: #e5e5e5;
        
    }
    
    .contenedor-der{
            flex:100%;
            background: #e5e5e5;    
    }
    
    .contenedorlimpiar{
       width:90%;
       margin:10% 5% 0 5%;
        }      
    
    
    .contenedor-izq p{
        margin:10px 5% 0 5%;
        
    }
    
    .botones{
        width:90%;
        margin:20px 5% 0 5%;
    
        
    }
    
    .espacioblanco{
        margin:30px 5% 30px 5%;
        justify-content: space-between;/*center before click, space-between despues click*/
        flex:100%;
    }    
    
    
    
    #textareaoutput{
    display:none;
    }
    
    
    }

footer{
    text-align: center;
    background: url(imagenes/descarga\ \(1\).jpg);
    padding: 40px;
    margin-top: 10px;
}

.Copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}



/* CSS para nuestro home*/

.banner{
    width: 100%;
    height: 150px;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.Principal p{
    margin: 0 0 1em;
}

.Principal strong{
    font-weight: bold;
}

.Principal em{
    font-style: italic;
}

.Diferenciales{
    padding: 3em 0;
    background: linear-gradient(white, black);
}

.Contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.Lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5;
}

.items:before{
    content: "★";
}

.items:first-child{
    font-weight: bold;
}



@media screen and (max-width:480px){
    h1{
        text-align: center;
    }

    nav{
        position: static;
    }
  
    .caja, .principal, .mapa-contenido, .Contenido-diferenciales, .video{
        width: auto;
    }
    .Lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }
}